/* Common CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.common-btn {
    color: #fff;
    border: 1px solid #289BDE;
    border-radius: 6px;
    padding: 10px 25px;
    background-color: #289BDE;
    transition: all .3s;
}

.common-btn:hover {
    color: #289BDE;
    border: 1px solid #289BDE;
    border-radius: 6px;
    padding: 10px 25px;
    background-color: #fff;
}

.common-btn2 {
    color: #289BDE;
    border: 1px solid #289BDE;
    border-radius: 6px;
    padding: 10px 25px;
    background-color: #fff;
    transition: all .3s;
}

.common-btn2:hover {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 10px 25px;
    background-color: #289BDE;
}

/* Header Area */
header {
    padding: 30px 0;
}

.header-area .logo-area h2 a {
    font-weight: 600;
    color: #000;
}

.header-area .menu-area ul li {
    margin-left: 20px;
}

.header-area .menu-area ul li a:hover,
.header-area .menu-area ul li .active {
    color: #289BDE !important;
}

/* Hero Section */
.hero-section {
    padding-bottom: 60px;
}

.single-slider {
    height: 500px;
}

.single-slider h2 {
    font-size: 60px;
    line-height: 80px;
    color: #fff;
}

.single-slider p {
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 30px;
}

.carousel-caption {
    right: 0;
    bottom: 0;
    top: 20%;
    left: 12%;
}

.carousel-inner {
    border-radius: 10px !important;
}

/* Course Area */
.course-area {
    padding: 65px 0;
}

.course-area h2 {
    font-weight: 600;
    font-weight: 45px;
    color: #000;
}

.courses {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
}

.single-course {
    cursor: pointer;
}

.single-course h3 {
    color: #4A4A4A;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}

.single-course p {
    color: #777777;
    font-weight: normal;
}

.single-course .course-price {
    color: #289BDE;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

/* Explore Area */
.explore-area {
    padding: 65px 0;
}

.explore-area h3 {
    font-size: 45px;
    line-height: 60px;
    color: #1D1D1D;
    font-weight: 600;
}

.explore-right {
    padding-left: 60px;
}

.explore-area p {
    font-size: 16px;
    line-height: 30px;
    color: #777777;
}

.explore-area .exlore {
    display: flex;
    margin-bottom: 40px;
}

.explore-area .exlore .online-course {
    margin-right: 50px;
}

.explore-area .exlore .member {
    margin-right: 50px;
}

/* Singnup Area */
.singup-area {
    padding: 65px 0;
}

.singup-area .singup {
    background-color: #289BDE;
    padding: 80px 100px;
    border-radius: 10px;
}

.singup-area .singup h3 {
    color: #fff;
    font-size: 45px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 20px;
}

.singup-area .singup p {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}

/* Success Students Area */
.succ-area {
    padding: 65px 0;
}

.succ-area h3 {
    color: #1D1D1D;
    font-size: 45px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 20px;
}

.succ-area p {
    color: #777777;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 50px;
}

.succ-area .single-studetns {
    cursor: pointer;
}