/* Common CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

h3 {
    font-size: 45px;
    color: #1D1D1D;
    line-height: 60px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.common-btn {
    color: #fff;
    border: 1px solid #289BDE;
    border-radius: 6px;
    padding: 10px 25px;
    background-color: #289BDE;
    transition: all .3s;
}

.common-btn:hover {
    color: #289BDE;
    border: 1px solid #289BDE;
    border-radius: 6px;
    padding: 10px 25px;
    background-color: #fff;
}

.common-btn2 {
    color: #289BDE;
    border: 1px solid #289BDE;
    border-radius: 6px;
    padding: 10px 25px;
    background-color: #fff;
    transition: all .3s;
}

.common-btn2:hover {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 10px 25px;
    background-color: #289BDE;
}

/* Header Area */
header {
    padding: 30px 0;
}

.header-area .logo-area h2 a {
    font-weight: 600;
    color: #000;
}

.header-area .menu-area ul li {
    margin-left: 20px;
}

.header-area .menu-area ul li a:hover,
.header-area .menu-area ul li .active {
    color: #289BDE !important;
}

.mobile-menu {
    display: none;
}

.mobile-menu a {
    color: #1D1D1D;
}


/* Hero Section */
.hero-section {
    padding-bottom: 60px;
}

.single-slider {
    height: 500px;
}

.single-slider h2 {
    font-size: 60px;
    line-height: 80px;
    color: #fff;
}

.single-slider p {
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 30px;
}

.carousel-caption {
    right: 0;
    bottom: 0;
    top: 20%;
    left: 12%;
}

.carousel-inner {
    border-radius: 10px !important;
}

/* Course Area */
.course-area {
    padding: 65px 0;
}

.course-area h2 {
    font-weight: 600;
    font-weight: 45px;
    color: #000;
}

.courses {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
}

.single-course {
    cursor: pointer;
}

.single-course h3 {
    color: #4A4A4A;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}

.single-course p {
    color: #777777;
    font-weight: normal;
}

.single-course .course-price {
    color: #289BDE;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

/* Explore Area */
.explore-area {
    padding: 65px 0;
}

.explore-area h3 {
    font-size: 45px;
    line-height: 60px;
    color: #1D1D1D;
    font-weight: 600;
}

.explore-right {
    padding-left: 60px;
}

.explore-area p {
    font-size: 16px;
    line-height: 30px;
    color: #777777;
}

.explore-area .exlore {
    display: flex;
    margin-bottom: 40px;
}

.explore-area .exlore .online-course {
    margin-right: 50px;
}

.explore-area .exlore .member {
    margin-right: 50px;
}

/* Singnup Area */
.singup-area {
    padding: 65px 0;
}

.singup-area .singup {
    background-color: #289BDE;
    padding: 80px 100px;
    border-radius: 10px;
}

.singup-area .singup h3 {
    color: #fff;
    font-size: 45px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 20px;
}

.singup-area .singup p {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}

/* Success Students Area */
.succ-area {
    padding: 65px 0;
}

.succ-area h3 {
    color: #1D1D1D;
    font-size: 45px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 20px;
}

.succ-area p {
    color: #777777;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 50px;
}

.succ-area .single-studetns {
    cursor: pointer;
}

/* Students Feedback Area */
.stu-fdb {
    padding: 65px 0;
}

.stu-fdb h3 {
    font-size: 45px;
    color: #1D1D1D;
    line-height: 60px;
}

.stu-fdb p {
    font-size: 16px;
    color: #777777;
    line-height: 30px;
    margin-bottom: 50px;
}


.stu-fdb .single-fdb .card {
    padding: 40px;
}

.stu-fdb .single-fdb .card .fdb-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stu-fdb .single-fdb .card .fdb-star i {
    color: #fabd22;
}

.fdb-text {
    margin-bottom: 15px;
}

.fdb-text p {
    font-size: 16px;
    line-height: 30px;
    color: #777777;
    margin-bottom: 15px;
}

.stu-detail {
    display: flex;
}

.stu-detail .stu-img {
    margin-right: 15px;
}

.stu-detail .stu-info h6 {
    font-size: 18px;
    line-height: 14px;
}

.stu-detail .stu-info p {
    font-size: 14px;
    color: #777777;
    margin-bottom: 0;
}

/* FAQ Area */
.faq-area {
    padding: 65px 0;
}

.faq-area h3 {
    font-size: 45px;
    color: #1D1D1D;
    line-height: 60px;
}

.faq-area p {
    font-size: 16px;
    color: #777777;
    line-height: 30px;
    margin-bottom: 50px;
}

.faq-area .faq {
    max-width: 880px;
    margin: auto;
    margin-top: 30px;
}

.faq-area .faq .accordion-button:focus {
    box-shadow: none;
}

/* Trusted Company */
.tr-company {
    padding: 65px 0;
}

.tr-company h3 {
    margin-bottom: 30px;
}

.tr-company .tr-logo {
    display: flex;
    justify-content: space-between;
}

.tr-company .tr-logo img {
    height: 25px;
}

/* Footer Area */
.footer-area {
    background-color: #1D1D1D;
    color: #fff;
    padding: 130px 0;
}

.footer-area h1 a {
    color: #fff;
    font-size: 60px;
}

.footer-area p {
    color: #777;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}

.footer-area .important-link {
    margin-bottom: 10px;
}

.footer-area .important-link a {
    color: #777;
    font-size: 14px;
    font-weight: 400;
}

.footer-area .socials a {
    color: #777;
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px;
}